var mysql = require('mysql');

module.exports = {
	MYSQL: function () {
		return mysql.createConnection({
			host     : '',
			user     : '',
			password : '',
			database : ''
		});
	},
	MONGO: {
		url: ''
	}
}