<!DOCTYPE html>
<html>
	<head>
	<title></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="/javascripts/jquery.js"></script>
	</head>
	<body>
	<h1>Add new house</h1>
	<form action="/api/house/edit" method="post" enctype="multipart/form-data">
		<input type="hidden" name="houseId" id="houseId" value="<%= houseId %>" readonly />
		<div class="form-group">
			<label for="type" class="control-label"></label>
			<select name="type" id="type">
				<option value="0">Nhà riêng</option>
				<option value="1">Chung cư</option>
			</select>
		</div>
		<div class="form-group">
			<label for="address" class="control-label">Address</label>
			<textarea name="address" id="address" cols="30" rows="10"></textarea>
		</div>
		<div class="form-group">
			<div class="form-group">
			<label for="interior">Add Feature</label>
			<input name="interior" id="interior" class="form-control" />
		</div>
		</div>
		<div class="form-group">
			<label for="bedroom" class="control-label"></label>
			<input name="bedroom" id="bedroom" class="form-control" />
		</div>
		<div class="form-group">
			<label for="bathroom" class="control-label"></label>
			<input name="bathroom" id="bathroom" class="form-control" />
		</div>
		<div class="form-group">
			<label for="description" class="control-label"></label>
			<textarea name="description" id="description" cols="30" rows="10"></textarea>
		</div>
		<input type="hidden" name="email" id="email" value="ngocdon127@gmail.com" />
		<input type="hidden" name="token" id="token" value="59ae89d5d4f6f8269c71b6a1951a8309" />
		<div class="form-group">
			<label for="images" class="control-label"></label>
			<input type="file" name="images" id="images" multiple>
		</div>
		<div class="form-group">
			<input type="submit" value="Submit" />
		</div>
	</form>
	<script type="text/javascript">
		function getSelectValues(select) {
			var result = [];
			var options = select && select.options;
			var opt;

			for (var i=0, iLen=options.length; i<iLen; i++) {
				opt = options[i];

				if (opt.selected) {
				result.push(opt.value || opt.text);
				}
			}
			return result;
		}
		function ob (x) {
			return document.getElementById(x);
		}
		// function submitForm () {
		// 	var fd = new FormData();
		// 	fd.append('houseId', ob('houseId').value);
		// 	fd.append('address', ob('address').value);
		// 	fd.append('bedroom', ob('bedroom').value);
		// 	fd.append('bathroom', ob('bathroom').value);
		// 	fd.append('description', ob('description').value);
		// 	fd.append('email', ob('email').value);
		// 	fd.append('token', ob('token').value);
		// 	fd.append('images', ob('images').files);
		// 	console.log(ob('images').files);
		// 	fd.append('features', getSelectValues(ob('features')));
		// 	$.ajax({
		// 		url: '/api/house',
		// 		method: 'put',
		// 		contentType: false,
		// 		mimeType: 'multipart/form-data',
		// 		data: fd,
		// 		processData: false,
		// 		success: function (data) {
		// 			console.log(data);
		// 		},
		// 		error: function (err) {
		// 			console.log(err);
		// 		}
		// 	})
		// }
	</script>
	</body>
</html>
